<header>
  <h1>Todos</h1>
</header>
<div class="divider"></div>
<form>
  <input type="text" placeholder="What needs to be done?" name="title" required><button>Add Todo</button>
  <!-- Needs to be a <button> since FF don't like styling input buttons -->
</form>
<ul>
  <li class="todo">
    <input type="checkbox" id="todo-1-completed" name="completed">
    <label for="todo-1-completed"><span class="box"></span></label>
    <input type="text" name="title" value="Discuss report with John">
  </li>
  <li class="todo">
    <input type="checkbox" id="todo-2-completed" name="completed" checked>
    <label for="todo-2-completed"><span class="box"></span></label>
    <input type="text" name="title" value="Get a haircut">
  </li>
  <li class="todo">
    <input type="checkbox" id="todo-3-completed" name="completed" checked>
    <label for="todo-3-completed"><span class="box"></span></label>
    <input type="text" name="title" value="Pay electricity bill">
  </li>
  <li class="todo">
    <input type="checkbox" id="todo-4-completed" name="completed">
    <label for="todo-4-completed"><span class="box"></span></label>
    <input type="text" name="title" value="Get gym hours">
  </li>
</ul>

<div class="divider"></div>

<footer>
  <div class="item-count">
    <span class="count">2</span> items left
  </div>
  <a class="mark-all" href="#">Mark all as complete</a>
</footer>
