@import nib
global-reset()

body, html
  font-family "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color #333
  background-color #f6f5f5
  font-size 14px

input
  color inherit
  font-size inherit

button.glossy
  color1 = #eaeaea
  color2 = #e8e8e8
  color3 = #ddd
  color4 = #d5d4d4

  outline none
  display inline-block
  box-sizing border-box
  height 40px
  line-height 36px
  border 1px solid #a0a0a0
  border-radius 5px
  padding 0
  box-shadow inset 0 2px 0px 0px #fdfdfd
  cursor pointer
  color #464646
  text-shadow 0 1px #f1f0f0
  font-size inherit
  font-weight bold

  background-color color1
  background-image linear-gradient(color1, color2 50%, color3 50%, color4)

  &:hover
    background-color darken(color2, 3%)
    background-image linear-gradient(
      darken(color1, 3%),
      darken(color2, 3%) 50%,
      darken(color3, 3%) 50%,
      darken(color4, 3%))

  &:active
    background-color darken(color2, 6%)
    background-image linear-gradient(
      darken(color1, 6%),
      darken(color2, 6%) 50%,
      darken(color3, 6%) 50%,
      darken(color4, 6%))

a
  link-color = #448ccb
  color link-color
  text-decoration none

  &:hover
    color darken(link-color, 20%)

