.new-todo
  margin-top 20px
  padding 0 20px

  input[name=title]
    transition border-color ease-in-out 100ms
    box-sizing border-box
    display inline-block
    border 1px solid #b9b8b8
    border-radius 5px
    box-shadow inset 0 2px 3px -2px #b9b8b9
    line-height 20px
    height 40px
    padding 9px 10px
    width 305px
    outline none

    &:focus
      border-color #448ccb

  button
    vertical-align top
    width 145px
    margin-left 10px
